<% if user_signed_in? %>
  <%= link_to('Logout', destroy_user_session_path, :method => :delete) %>
<% end %>
<% if user_signed_in? %>
  <%= link_to('Edit registration', edit_user_registration_path) %>
<% end %>